#header h1
{
width:300px;
margin:0 auto;
display:block;
}

.full_width
{
	width:100%;
    height:300px;
	background:url(../img/index/grid_header_summer.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	
}
	
a :link
{
text_decoration:none;

}	

.clearfix:after {
  content: ""; 
  display: block; 
  clear: both;
}
.nav ul
{
	list-style:none;
	display:inline-block;
	width:90%;
}
.nav
{
	width:980px;
	margin:0 auto;
}
.row
{
	width:100%;
	height:440px;
}
.row ul{
	list-style:none;
	display:inline-block;
	width:100%;
	padding:0px;
	margin:0px;
	
}

.row ul li

{
	width:25%;
	float: left;
}
.row ul li img
{
	width:100%;
	height:440px;

}